/* styles.css */
body {
    background-color: #494993;
    color: #333333;
    font-family: sans-serif;
}

.stButton {
    background-color: #fcfafc;
    color: rgb(119, 16, 16);
}

.stButton:hover {
    background-color: #f0f1f6;
}
