/* styles.css */
[data-testid="stAppViewContainer"] {
    background-color: #CBC3E3 !important;  /* Ensures the whole app background changes */
    color: #40245a !important;
}

[data-testid="stSidebar"] {
    background-color: #3a3a6e !important;  /* Optional: Change sidebar background */
    color: rgb(56, 20, 119) !important;
}

div.stButton > button {
    background-color: #ffffff !important;  
    color: rgb(178, 167, 228) !important;  
    border-radius: 5px;  
    border: 2px solid #ffffff;
}

div.stButton > button:hover {
    background-color: #4c2b75 !important;
    color: white !important;
}
